<launch>
  
    <include file="$(find planning_tutorial)/launch/meta_rooms.launch"/>

    <include file="$(find soma_manager)/launch/soma2_local.launch">
        <arg name="map_name" value="aloof"/>
    </include>   

    <node name="soma_roi_node" pkg="soma_roi_manager" type="soma_roi_node.py" args="aloof" output="screen"/>

</launch>