<launch>
  <rosparam param="/amcl/initial_pose_x">0.68</rosparam>
  <rosparam param="/amcl/initial_pose_y">-0.72</rosparam>
  <rosparam param="/amcl/initial_pose_a">-0.55</rosparam>
  
  <!-- 2D continuous navigation -->
  <include file="$(find strands_morse)/tsc/launch/tsc_nav2d.launch">
  </include>
 
   
</launch>
